*{
	margin: 0;
	padding: 0;
}



	.pop{
		background-color: black;
	}

}
.bota{
}
.botb{
}
.botc{
}


.one{

position: absolute;
background-color: ;
top: 50vh;
left: 30vw;
width: 40vw;

	}
.two{

position: absolute;
background-color: ;
top: 175vh;
left: 2vw;
transform: rotate(5deg);
	}
	.three{

position: absolute;
background-color: ;
top: 175vh;
right: 2vw;
transform: rotate(-5deg);
	}