*{
	margin: 0;
	padding: 0;
}



	.pop{
		background-color: black;
	}

}
.bota{
}
.botb{
}
.botc{
}


.one{

position: absolute;
background-color: ;
top: 50%;
left: 30%;

	}
.two{

position: absolute;
background-color: ;
top: 1250px;
left: 10px;
transform: rotate(5deg);
	}
	.three{

position: absolute;
background-color: ;
top: 1250px;
right: 10px;
transform: rotate(-5deg);
	}