*{
	margin: 0;
	padding: 0;
}



	.pop{
		background-color: black;
	}

}
.bota{
}
.botb{
}
.botc{
}


.one{

position: absolute;
background-color: ;
top: 50%;
left: 30%;


	}
.two{

position: absolute;
background-color: ;
top: 175%;
left: 1%;
transform: rotate(5deg);
	}
	.three{

position: absolute;
background-color: ;
top: 175%;
right: 1%;
transform: rotate(-5deg);
	}